@model SistemaContas.Presentation.Models.Categorias.CategoriaEdicaoViewModel

<div class="card m-4">
    <div class="card-body">
        <h5>Cadastro de categorias</h5>
        <p>Altere categoria selecionada.</p>
        <hr/>

        @using(Html.BeginForm())
        {
            <div>
                @Html.HiddenFor(model => model.IdCategoria)
            </div>

            <div class="row mb-2">
                <div class="col-md-9">
                    <label>Nome da categoria:</label>
                    @Html.TextBoxFor(model => model.Nome, new {
                        @class = "form-control",
                        @placeholder = "Digite o nome da categoria."
                    })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Nome)
                    </span>
                </div>
                <div class="col-md-3">
                    <label>Tipo da categoria:</label>
                    @Html.DropDownListFor(model => model.Tipo, ViewBag.TiposCategoria as SelectList, "Escolha uma opção", new {
                        @class = "form-select"
                    })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Tipo)
                    </span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Salvar Alterações" />
                </div>
            </div>

        }

    </div>
</div>

